@import url("//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

.bg-inverse {
    background-color: #31b095;
}

.iw_address_title {
    margin-bottom: 2px;
    font-size: .95em;
}

.iw_address {
    margin-bottom: 0;
    font-size: .9em;
}

.padding-zero {
    padding: 0 0 0 0;
}

.padding-sides-10 {
    padding: 0 10px 0 10px;
}

.map_error {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.brand-name {
    padding: 15px 5px 10px 5px;
}

.sidebar_width {
    min-width: 300px;
}


.location_list {
    padding: 5px 5px 5px 30px;
}

.iw_title {
    font-size: 1.3em;
}

.iw_subtitle {
    font-size: 1em;
}

/*SEARCH*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #999999;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.custom-toggler.navbar-toggler {
    border: 2px solid rgba(255, 255, 255, 4);
    padding: 3px;
}

.custom-toggler.navbar-toggler:hover {
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


